body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/008/167/404/large_2x/simply-soft-gradation-technology-background-free-vector.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
  text-shadow: #000;
  font-weight: 900;
  font-size: 5ch;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
  border-bottom: 1px solid #ffffff;
  border-width: 0.08cm;
  -webkit-text-fill-color: #ff8000;
  -webkit-text-stroke: 1.1px #d0d01c;
}

h2 {
  color: #e10f0f;
  font-size: 1.5em;
  text-decoration-color: #e26161;
}

label {
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
}

label#label1 {
  position: relative;
  right: -1cm;
  font-size: 1.3em;
  font-weight: bold;
}

label#label2 {
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  top: 3px;
}

label#label3 {
  position: relative;
  right: -1.11cm;
  font-size: 1.3em;
  font-weight: bold;
  top: 3px;

}

label#label4 {
  font-size: 1.3em;
  font-weight: bold;
}

select {
  height: 27px;
}

input[type="text"]#robotNameInput {
  font-size: 95%;
  height: 20px;
  position: relative;
  top: -1px;
}

input[type="text"]#ssidInput {
  font-size: 95%;
  height: 20px;
  right: -0.3cm;
  position: relative;
  top: -1px;
}

input[type="text"]#hostInput {
  font-size: 95%;
  height: 20px;
  right: -0.43cm;
  position: relative;
  top: 3px;
}

input[type="password"]#passwordInput {
  font-size: 95%;
  height: 20px;
  right: -1.25cm;
  position: relative;
  top: -1px;
}

input[type="number"]#portInput {
  font-size: 95%;
  height: 20px;
  right: -2.6cm;
  position: relative;
  top: 3px;
}

input[type="text"]#channelInput {
  font-size: 95%;
  height: 20px;
  right: -0.1cm;
  position: relative;
  top: 1px
}

section {
  background-color: rgba(255, 253, 253, 0.873);
  padding: 20px;
  border-radius: 12x;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
}


/* Components */
.tabs__head{
  flex-shrink: 0;
  display: flex;
}

.tabs__button {
  flex-grow: 1;
  display: block;
  text-align: center;
  font-size: large;
  color: #000;
  padding: 10px;
  background: rgba(255, 255, 255, 0.786);
  outline: none;
  cursor: pointer;
}

.tabs__button:first-child {
  margin-left: 0%;
  width: 3.8cm;
  margin-right: 15px;
}

.tabs__button:hover {
  background: #d3d0d0dc;
  font-weight: bold;
}

.tabs__button--active {
  flex-grow: 1;
  font-weight: bolder;
  border-bottom: 4px solid #00e99b;
  background-color : #b5aeae;
}

.tabs__content{
  display: none;
}

.tabs__content--active {
  display: block;
}

button {
  background-color: #567bff;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0;
  margin-left: 0.5em;
  padding: 0.3em 1.2em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #4568c8;
}

button#stopButton:hover {
  background-color: #4568c8;
}

button#openWebSocketButton:hover {
  background-color: #4568c8;
}

button#stopButton {
  margin-left: 1.5%;
  position: relative;
  background-color: #567bff;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  width: 47%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button#openWebSocketButton {
  margin-left: 2%;
  background-color: #567bff;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  width: 47%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

code {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
  padding: 0.2em 0.5em;
  border-radius: 4px;
}

div#container {
  margin: 0 auto;
  max-width: 60em;
  padding: 1em 1.5em 1.3em 1.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div#links a {
  display: block;
  margin: 0 0 1em 0;
  color: #444;
  font-size: 1.1em;
}

div.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  margin-bottom: 0.5em;
}

div.box1 {
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}

textarea {
  resize: none;
  font-family: "Roboto", sans-serif;
  width: 97%;
  height: 290px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 1.5%;
}

ul {
  margin-block: 0;
}

video {
  background: #222;
  margin: 5px 0 0px 0;
  width: 100%;
  height: 95%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: rotateY(180deg);
}

fieldset {
  margin: 0 0 1em 0;
  border: none;
}

fieldset > select {
  margin-top: 1em;
}

canvas#canvasElement {
  background-color: #f0f0f0;
  width: 100%;
  height: 30%;
  border-radius: 4px;
}